<ion-view view-title="{{title}}">
  <ion-content class="padding">
  <div class="row">
      <div class="col">
          <div class="row">
              <a href="#/next" class="center"><img src="img/subcategory_picture_1.jpeg" width="64" height="64">sub1</a>
          </div>
          <div class="row">
              <a href="#/next" class="center"><img src="img/subcategory_picture_2.jpeg" width="64" height="64">sub2</a>
          </div>
          <div class="row">
              <a href="#/next" class="center"><img src="img/subcategory_picture_3.jpeg" width="64" height="64">sub3</a>
          </div>
          <div class="row">
              <a href="#/next" class="center"><img src="img/subcategory_picture_4.jpeg" width="64" height="64">sub4</a>
          </div>
          <div class="row">
              <a href="#/next" class="center"><img src="img/subcategory_picture_5.jpeg" width="64" height="64">sub5</a>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
      </div>
      </div>
  </ion-content>
</ion-view>