<ion-view view-title="{{title}}"> <ion-content
	class="padding">
<div class="row">
	<div class="col-20">
		<div class="row padding-vertical">
			<div class="col">
				<div class="row row-center padding-vertical">
					<img src="img/child_care.png">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="row row-center padding-vertical">
					<img ng-click="showFaq()"
						src="img/subcategory_picture_1.jpeg" width="64" height="64">
					<button class="button button-small button-light button-clear"
						ng-click="playAudio()">
						<strong class="lettering">شؤون الأمومة</strong>
					</button>
				</div>
				<div class="row row-center padding-vertical">
					<a href="#/next" class="center"><img
						src="img/subcategory_picture_2.jpeg" width="64" height="64"></a>
					<button class="button button-small button-light button-clear"
						ng-click="playAudio()">
						<strong class="lettering">شؤون الأمومة</strong>
					</button>
				</div>
				<div class="row row-center padding-vertical">
					<a href="#/next" class="center"><img
						src="img/subcategory_picture_3.jpeg" width="64" height="64"></a>
					<button class="button button-small button-light button-clear"
						ng-click="playAudio()">
						<strong class="lettering">شؤون الأمومة</strong>
					</button>
				</div>
				<div class="row row-center padding-vertical">
					<a href="#/next" class="center"><img
						src="img/subcategory_picture_4.jpeg" width="64" height="64"></a>
					<button class="button button-small button-light button-clear"
						ng-click="playAudio()">
						<strong class="lettering">شؤون الأمومة</strong>
					</button>
				</div>
				<div class="row row-center padding-vertical">
					<a href="#/next" class="center"><img
						src="img/subcategory_picture_5.jpeg" width="64" height="64"></a>
					<button class="button button-small button-light button-clear"
						ng-click="playAudio()">
						<strong class="lettering">شؤون الأمومة</strong>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card padding" ng-show="showHealthTitle">
			<strong class="item">Health</strong>
			<div class="item item-text-wrap">This is a basic Card which
				contains an item that has wrapping text.</div>
		</div>
		<div class="card padding" ng-show="showHealthFaq">
			<ion-item class="item-divider">FAQ</ion-item>
			<ion-scroll style="height:80%" direction="y">
				<ion-list>
					<ion-item class="item-text-wrap" ng-repeat="item in faqList">
						<strong class="padding">{{item.question}}</strong>
						<div class="padding">{{item.answer}}</div>
					</ion-item>
				</ion-list>
			</ion-scroll>
		</div>
	</div>
</div>
</ion-content> </ion-view>
