<ion-view view-title="{{title}}">
  <ion-content class="padding">
      <div class="row">
          <div class="col">
              <a href="#/next" class="center"><img src="http://makoto2014.com/port15/subcategory_picture.php?sub_id=1"></a>
          </div>
          <div class="col">
              <a href="#/next" class="center"><img src="http://makoto2014.com/port15/subcategory_picture.php?sub_id=2"></a>
          </div>
          <div class="col">
              <a href="#/next" class="center"><img src="http://makoto2014.com/port15/subcategory_picture.php?sub_id=3"></a>
          </div>
          <div class="col">
              <a href="#/next" class="center"><img src="http://makoto2014.com/port15/subcategory_picture.php?sub_id=4"></a>
          </div>
          <div class="col">
              <a href="#/next" class="center"><img src="http://makoto2014.com/port15/subcategory_picture.php?sub_id=5"></a>
          </div>
      </div>
  </ion-content>
</ion-view>