<ion-view class="title-lettering" view-title="Bridge it!">
  <ion-content class="padding center">

    <div class="row">
      <div class="col">
        <a href="#/next" class="center"><img src="img/midwifery.png"></a>
        <button class="button button-small button-block button-light button-clear" ng-click="playAudio()">
          <i class="icon ion-volume-high"></i>
          <strong class="lettering">القبالة</strong>
        </button>
      </div>
      <div class="col">
        <a href="#/next" class="center"><img src="img/motherhood.png"></a>
        <button class="button button-small button-block button-light button-clear" ng-click="playAudio()">
          <i class="icon ion-volume-high"></i>
          <strong class="lettering">شؤون الأمومة</strong>
        </button>
      </div>
      <div class="col">
        <a href="#/next" class="center"><img src="img/child_care.png"></a>
        <button class="button button-small button-block button-light button-clear" ng-click="playAudio()">
          <i class="icon ion-volume-high"></i>
          <strong class="lettering">رعاية الأطفال</strong>
        </button>
      </div>
      <div class="col">
        <a href="#/next" class="center"><img src="img/safety.png"></a>
        <button class="button button-small button-block button-light button-clear" ng-click="playAudio()">
          <i class="icon ion-volume-high"></i>
          <strong class="lettering">الأمان</strong>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a href="#/next" class="center"><img src="img/cooking.png"></a>
        <button class="button button-small button-block button-light button-clear" ng-click="playAudio()">
          <i class="icon ion-volume-high"></i>
          <strong class="lettering">الطبخ</strong>
        </button>
      </div>
      <div class="col">
        <a href="#/next" class="center"><img src="img/food.png"></a>
        <button class="button button-small button-block button-light button-clear" ng-click="playAudio()">
          <i class="icon ion-volume-high"></i>
          <strong class="lettering">الطعام</strong>
        </button>
      </div>
      <div class="col">
        <a href="#/next" class="center"><img src="img/health.png"></a>
        <button class="button button-small button-block button-light button-clear" ng-click="playAudio()">
          <i class="icon ion-volume-high"></i>
          <strong class="lettering">الصحة</strong>
        </button>
      </div>
      <div class="col">
        <a href="#/next" class="center"><img src="img/water.png"></a>
        <button class="button button-small button-block button-light button-clear" ng-click="playAudio()">
          <i class="icon ion-volume-high"></i>
          <strong class="lettering">الماء</strong>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a href="#/next" class="center"><img src="img/shelter.png"></a>
        <button class="button button-small button-block button-light button-clear" ng-click="playAudio()">
          <i class="icon ion-volume-high"></i>
          <strong class="lettering">ملاجئ و الإيواء</strong>
        </button>
      </div>
      <div class="col">
        <a href="#/next" class="center"><img src="img/protection.png"></a>
        <button class="button button-small button-block button-light button-clear" ng-click="playAudio()">
          <i class="icon ion-volume-high"></i>
          <strong class="lettering">الحماية و الجوء</strong>
        </button>
      </div>
      <div class="col">
        <a href="#/next" class="center"><img src="img/distribution.png"></a>
        <button class="button button-small button-block button-light button-clear" ng-click="playAudio()">
          <i class="icon ion-volume-high"></i>
          <strong class="lettering">توزيع المواد الأساسية</strong>
        </button>
      </div>
      <div class="col">
        <a href="#/next" class="center"><img src="img/games.png"></a>
        <button class="button button-small button-block button-light button-clear" ng-click="playAudio()">
          <i class="icon ion-volume-high"></i>
          <strong class="lettering">ألعاب</strong>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>

